# node
node_modules/
# build / dist
build/
dist/
# env
.env
.env.local
# editor / system
.DS_Store
.vscode/
.idea/
# logs
*.log
# Ignorowanie pliku JSON z pytaniami społecznościowymi
Json/CommunityQuestions.json
